#txtArea {
  min-height: 5em !important;
}

input:hover,
textarea:hover {
  opacity: 80%;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="submit"]:hover {
  background-color: #fed800;
  transition: ease 0.5s;
}
