/* Site wide settings */
.App {
  text-align: center;
}

hr {
  width: 80%;
}

/* Header and footer */
.headerContainer, .footerContainer {
  padding: 1em;
}



.purpleH1 {
  color: #800879;
}

.blueH1 {
  color: #067ED7;
  padding-left: 0.5em;
}

.footerInfo>p {
  margin-top: 2.2em;
  padding-left: 1em;
  color: #067ED7;
}

.logoInfo {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.logoInfo>h4 {
  padding-left: 1em;
}

/* links */
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 1px;
}

a {
  text-decoration: none;
  color: black;
}

/* Homepage/Maintenance page */
.contactText {
  width: 80%;
  color: #067ED7;
  margin: 0 auto;
  margin-bottom: 2em;
  margin-top: 0;
}

.maintenanceImg {
  margin-bottom: 0;
}

/* Form */
.contactForm {
  background-color: #f2f2f2;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 2em;
  height: auto;
}

fieldset {
  border: none;
}

label {
  text-align: left;
}

input {
  width: 90%;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px;
  box-sizing: border-box;
}
 

input[type=submit] {
  width: 90%;
  background-color: #067ED7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#800879;
  transition: 0.3s ease;
}

#msg {
  height: 3em;
}

/* Desktop view */
@media only screen and (min-width: 600px) {
  .maintenanceImg {
    width: 70%;
  }

  .contactForm {
    width: 70%;
  }
  .footerHeadings {
    display: flex;
    justify-content: center;
  }
  .name_locationHeadings {
    display: flex;
    justify-content: center;
  }
  .name_locationHeadings p {
    margin-top: 2em;
    margin-left: 1em;
  }
}